@{
  Layout = "_WordCounterLayout";
}
<div class="container">
  <div class="jumbotron">
    <h1>Word Counter Game</h1>
  </div>
  <br>
  <br>
  <h3>@Model.GetResults()</h3>
  <br>
  <br>
  <p>Check again<p>
  <form action="/wordcounter/check" method="post">
    <div class="form-group">
      <label for="word">Word: </label>
      <input id="word" name="word" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="sentence">Sentence: </label>
      <input id="sentence" name="sentence" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-info">Check!</button>
  </form>
  <br>
  <a href="/wordcounter"><button class="btn btn-danger">Word Counter Home Page</button></a>
  <br>
  <br>

  </div>
