<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/Home.css">
  </head>
  <body>
    <div class="container">
      <div class ="jumbotron">
        <h1>Welcome to the GAME ZONE!</h1>
      </div>
      <h2>Please pick a game to play</h2>

      <a href="/WordCounter"><button class="btn btn-info">Word Counter Game</button></a>
      <a href="/leapyear"><button class="btn btn-info">Leap Year Check</button></a>
    </div>

  </body>
</html>
